.sports-container {
  font-family: "Gilroy-Regular", sans-serif;
  text-transform: uppercase;
  position: relative;
  height: 70px;
  overflow: hidden;
  font-size: 15px;
}


.sports-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sports-container span {
  font-family: "Gilroy-Bold", sans-serif;
}

.marqueeStyle {
  /* display: inline-block; */
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 45s linear infinite;
}

.marqueeStyle2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 5s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

/* .tickerwrapper {

  position: relative;
  top: 30px;
  left: 0%;
  width: 99.9%;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
} */


.text {
  font-size: 36px;
  white-space: nowrap;
  animation: scrolling-text 10s linear infinite;
}

@keyframes scrolling-text {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  animation-play-state: paused;
}
