:root {
  --orange: #f9b042;
  --yellow: #faff07;
}

.vibrancelogo {
  width: 100px;
}

.vit-div {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vit-logo {
  width: 100px;
}

.gallery-border {
  border: 2px solid var(--orange);
  border-radius: 80px;
  color: white;
  text-align: center;
}

.gallery-border:hover {
  background: linear-gradient(95deg, var(--orange), var(--yellow));
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  color: black;
  text-align: center;
}

.instagram-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--orange);
  border-radius: 80px;
  color: white;
  transition: all 0.4s;
  font-size: 20px;
}

.instagram-icon:hover {
  background: linear-gradient(95deg, var(--orange), var(--yellow));
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  color: black;
}

@media (max-width: 423px) {

  .vibrancelogo {
    width: 80px;
  }

  .instagram-icon {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}
