:root {
  --orange: #f9b042;
  --yellow: #faff07;
}

nav {
  height: 145px;
}

.vibrancelogo {
  width: 180px;
}

.vit-div {
  padding-right: 15px;
  padding-left: 10px;
  position: absolute;
  right: 0px;
  height: 80px;
  border-radius: 50px 0px 0px 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vit-logo {
  width: 180px;
}

.gallery-border {
  border: 2px solid var(--orange);
  border-radius: 80px;
  color: white;
  text-align: center;
}

.gallery-border:hover {
  background: linear-gradient(95deg, var(--orange), var(--yellow));
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  color: black;
  text-align: center;
}

.instagram-icon {
  position: relative;
  right: 200px;
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--orange);
  border-radius: 80px;
  color: white;
  transition: all 0.4s;
  font-size: 24px;
}

.instagram-icon:hover {
  background: linear-gradient(95deg, var(--orange), var(--yellow));
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  color: black;
}

@media (min-width: 424px) and (max-width: 774px) {
  .vibrancelogo {
    width: 120px;
  }

  .instagram-icon {
    width: 35px;
    height: 35px;
    font-size: 15px;
    right: 130px;
  }

  .vit-div {
    padding-right: 5px;
    height: 60px;
  }

  .vit-logo {
    width: 100px;
  }
}

@media (max-width: 423px) {

  .vibrancelogo {
    width: 120px;
  }

  .instagram-icon {
    width: 35px;
    height: 35px;
    font-size: 15px;
    right: 120px;
  }

  .vit-div {
    padding-right: 5px;
    height: 60px;
  }

  .vit-logo {
    width: 100px;
  }
}

@media (max-width: 342px) {
  .vibrancelogo {
    width: 120px;
  }

  .instagram-icon {
    width: 35px;
    height: 35px;
    font-size: 15px;
    right: 120px;
  }

  .vit-div {
    padding-right: 5px;
    height: 60px;
  }

  .vit-logo {
    width: 100px;
  }
}
