.footer {
    height: 600px;
    background: linear-gradient(105deg, rgba(178, 25, 28, 1), rgba(187, 46, 121, 1));
}
.footer-wrapper {
    background: white;
    box-shadow: 0px 0px 5px 0px white;
}

.send-button {
  background-image: url("/src/assets/background2.webp");
  background-size: cover;
}

input:focus {
    border-color: rgb(8, 7, 7);
}
input:current {
    border-color: rgb(8, 7, 7);
}
input:hover {
    border-color: rgb(8, 7, 7);
}
textarea:hover {
    border-color: rgb(8, 7, 7);
}
