@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
  background: black;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
}

.header-box {
  gap: 12px;
  position: relative;
  padding: 24px 12px;
  width: 100%;
  background: rgba(217, 217, 217, 0.052);
  backdrop-filter: blur(20px);
  box-sizing: border-box;
  border: 1px solid;
  border-right: none;
  border-left: none;
  border-image-source: linear-gradient(0deg, #ffffff, rgba(255, 255, 255, 0));
  border-image-slice: 10; /* set the slice value */
}

.ellipses {
  position: absolute;
  top: 5;
  left: 0;
  width: 100%;
}

.header-tagline {
  font-family: "CirkaBold";
  font-size: 22px;
  line-height: 40px;
  color: #f9b042;
}

.header-text {
  font-family: "GilroyBoldItalic";
  font-size: 106px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(
    193.44deg,
    #ffffff 9.65%,
    rgba(255, 255, 255, 0.356) 143.94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 22px 141px rgba(0, 0, 0, 0.12),
    0px 9.19107px 58.9064px rgba(0, 0, 0, 0.0862625),
    0px 4.91399px 31.4942px rgba(0, 0, 0, 0.0715329),
    0px 2.75474px 17.6554px rgba(0, 0, 0, 0.06),
    0px 1.46302px 9.37664px rgba(0, 0, 0, 0.0484671),
    0px 0.608796px 3.90183px rgba(0, 0, 0, 0.0337375);
}

.countdown-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.countdown-tagline {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(
    182.47deg,
    #ffffff 2.06%,
    rgba(255, 255, 255, 0) 313.65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
}

.counter {
  display: flex;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 100px;
  line-height: 100%;
  background: linear-gradient(
    188.26deg,
    #ffffff 6.34%,
    rgba(255, 255, 255, 0) 147.97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.date {
  display: flex;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 200px;
  line-height: 100%;
  background: linear-gradient(
    188.26deg,
    #ffffff 6.34%,
    rgba(255, 255, 255, 0) 147.97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.counter-minute,
.counter-day,
.counter-seconds {
  display: flex;
  flex-direction: column;
}

.counter-minute-text,
.counter-day-text,
.counter-seconds-text {
  font-size: 8px;
  width: fit-content;
  margin: auto;
  margin-top: -38px;
  font-family: "Gilroy-Regular";
  text-align: center;
  font-size: 23px;
}

@media (max-width: 423px) {
  .background-image {
    height: 100vh;
  }

  .header-tagline {
    font-size: 12px;
  }

  .header-text {
    font-size: 44px;
  }

  .countdown-box {
    margin-top: 20px;
  }

  .countdown-tagline {
    font-size: 8px;
  }

  .counter {
    font-size: 30px;
  }

  .date {
    font-size: 60px;
  }

  .header-tagline-box > img {
    display: block;
    width: 23px;
  }

  .counter-minute-text,
  .counter-day-text,
  .counter-seconds-text {
    font-size: 6px;
    margin-top: -10px;
  }


  .ellipses {
    position: absolute;
    top: 4;
    left: 0;
    width: 100%;
  }

  .ellipses .ellipse1, 
  .ellipses .ellipse2 {
    width: 40px;
  }

  .stars img {
    width: 15px;
  }
}

/* Media Queries */
@media (max-width: 700px) and (min-width: 424px) {
  .background-image {
    height: 100%;
  }


  .header-tagline {
    font-size: 13px;
  }

  .header-text {
    font-size: 64px;
  }

  .countdown-box {
    margin-top: 20px;
  }

  .countdown-tagline {
    font-size: 12px;
  }

  .counter {
    font-size: 44px;
  }

  .date {
    font-size: 84px;
  }

  .header-tagline-box > img {
    display: block;
    width: 23px;
  }

  .counter-minute-text,
  .counter-day-text,
  .counter-seconds-text {
    font-size: 10px;
    margin-top: -18px;
  }

  .background-image {
    height: 100vh;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .background-image {
    height: 100%;
  }

  .header-tagline {
    font-size: 23px;
  }

  .header-text {
    font-size: 124px;
  }

  .countdown-box {
    margin-top: 26px;
  }

  .countdown-tagline {
    font-size: 22px;
  }

  .counter {
    font-size: 64px;
  }

  .date {
    font-size: 140px;
  }

  .counter-minute-text,
  .counter-day-text,
  .counter-seconds-text {
    font-size: 10px;
    margin-top: -20px;
  }
}
